
<!DOCTYPE html>
<html>
<title>Vikash Patidar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.vpic{
margin: 30px 20%;
}
.w3-display-bottomleft{
    top: 300px;

}
.w3-display-container{
    height: 400px;
}
</style>
<body class="w3-light-grey">
 

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img class="vpic" src="https://scontent.fidr4-1.fna.fbcdn.net/v/t1.6435-9/p640x640/117669954_2622903377926248_1296561052954943553_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_ohc=QJ3L8CVDwWsAX8tJmnS&_nc_ht=scontent.fidr4-1.fna&oh=b8210cc35dedbc3e5fc850f0990ad273&oe=617AD323" style="width:40%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Vikas Patidar</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>India, MP(Ujjain)</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>vikashpatidar09051999@gmila.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+91 9179933533 </p>
    
          
          <p class="w3-large"><b>TECHNICAL SKILLS</b></p><hr>
          
          <p>Programming</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:95%">95%</div>
            </div>
          <p>Interest In Practical Work</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
            </div>
          <p>Photography</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">
                <div class="w3-center w3-text-white">85%</div>
            </div>
        </div>
        <p>Hardware and PC Build</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
        <p>Playing Games</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
        </div>
          <p>Media</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b>INTERESTS</b></p>
          <p><i class='fa fa-robot' style='font-size:24px'></i>Machine Learning</p>
          
          <p>Chess</p>
          <p>Video Games</p>
          <p>Robotics</p>
          
         
          <br>
          
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Doing Larning in (IT) field</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Working on Python</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2021 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>I am currently working on Python, oops and  </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>JS</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2021 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p> Learning JS  on my free time </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Working on Android Development</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2021 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>I am also working on Android Development and APPs making too </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Developer </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2021</h6>
          <p> <li>HTML 5</li>
          <li>CSS 2.1</li>
          <li>JavaScript</li>
          <li>Django</li>
       
          <!-- <li></li>  --> </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> MySQL </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2021</h6>
          <p>Work before in SQL database </p><br>
        </div>
        
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Universal Informatic / self</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
          <p>Python</p>
          <p>Android Development</p>
          <p>Web Development! </p>
          <p>Django</p>
  
          <p>JavaScript</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> Schooling</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - 2019</h6>
          <p>Higher Secondary Education</p>
          <hr>
          <table class="table">
            <thead>
              <tr>
               
                <th>Class</th>
                <th>School Name</th>
                <th>Makes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">10th</td>
                <td>Red Rose Covent School</td>
                <td>8.6 CGPA</td>
              </tr>
              <tr>
                <td scope="row">12th</td>
                <td>IBS Global Acadmy School</td>
                <td>6.9 CGPA</td>
              </tr>
            </tbody>
          </table>
          
         
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Graduation</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019 - runing</h6>
          <p>Bachelor Degree :-(running)<h5>B.Tech(CS)</h5></p><br>
        </div>
      </div>



    
        
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  
 <a href="https://www.instagram.com/vikashpatidar_/"> <i class="fa fa-instagram w3-hover-opacity fa-2x"></i></a>&nbsp;&nbsp;
  <a href="https://www.linkedin.com/in/vikas-patidar-566234205"><i class="fa fa-linkedin w3-hover-opacity fa-3x"></i></a>&nbsp;&nbsp;
  <a href="https://api.whatsapp.com/send?phone=+919179933533 Hello%20I%20Am%20Vikash" ><i class="fa fa-whatsapp w3-hover-opacity fa-4x"></i></a> &nbsp;&nbsp;
  
  <i class="fa fa-phone w3-hover-opacity">9179933533</i>

</footer>

</body>
</html>