<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="card">
          <div class="col-md-12 col-sm-12 col-xs-12 mt-3 form-control">
            <div class="col-md-12 col-sm-12 col-xs-12 mt-3">
                <h3>Enter data</h3><hr>
            </div>
            <form action=" " method="POST">{% csrf_token%}
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <span class="CommonFormLabel">Today Data</span>
                      
                        <input type="date" name="data" rows="2" cols="20" id="cphLogin_TextBox1" class="CommonFormTbx form-control" placeholder="Description"></textarea>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <span class="CommonFormLabel">Milk Amount</span>
                      
                        <input type="number" name="milk" rows="2" cols="20" id="cphLogin_TextBox1" class="CommonFormTbx form-control" placeholder="Description"></textarea>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <span class="CommonFormLabel">Total Spend  Amount</span>
                        <!-- <textarea name="ctl00$cphLogin$TextBox1" rows="2" cols="20" id="cphLogin_TextBox1" class="CommonFormTbx form-control" placeholder="Description"></textarea> -->
                        <input type="number" name="spend" rows="2" cols="20" id="cphLogin_TextBox1" class="CommonFormTbx form-control" placeholder="Description"></textarea>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <span class="CommonFormLabel">PTM Amount</span>
                        <!-- <textarea name="ctl00$cphLogin$TextBox1" rows="2" cols="20" id="cphLogin_TextBox1" class="CommonFormTbx form-control" placeholder="Description"></textarea> -->
                        <input type="number" name="ptm" rows="2" cols="20" id="cphLogin_TextBox1" class="CommonFormTbx form-control" placeholder="Description"></textarea>
                </div><div class="col-md-2 col-sm-2 col-xs-2">
                    <span class="CommonFormLabel">Case Amount</span>
                        <!-- <textarea name="ctl00$cphLogin$TextBox1" rows="2" cols="20" id="cphLogin_TextBox1" class="CommonFormTbx form-control" placeholder="Description"></textarea> -->
                        <input type="number" name="Case" rows="2" cols="20" id="cphLogin_TextBox1" class="CommonFormTbx form-control" placeholder="Description"></textarea>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <span class="CommonFormLabel">Duy Amount</span>
                        <!-- <textarea name="ctl00$cphLogin$TextBox1" rows="2" cols="20" id="cphLogin_TextBox1" class="CommonFormTbx form-control" placeholder="Description"></textarea> -->
                        <input type="number" name="Duy" rows="2" cols="20" id="cphLogin_TextBox1" class="CommonFormTbx form-control" placeholder="Description"></textarea>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 mt-3">
                <button class="btn-primary">Submit</button>
              </div>
            </form>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 mt-3 form-control">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Data</th>
                    <th scope="col">PTM</th>
                    <th scope="col">Duy</th>
                    <th scope="col">Milk</th>
                    <th scope="col">Other Spend</th>
                    <th scope="col">Total Case</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in a%}
                  <tr>
                    <th scope="row">{{i.id}}</th>
                    <td>{{ i.data}}</td>
                    <td>{{i.PTM}}</td>
                    <td>{{i.Duy}}</td>
                    
                    <td>{{i.Milk}}</td>
                    <td>{{i.Other}}</td>
                    <td>{{i.Case}}</td>
                    <td>{{i.Total}}</td>
                  </tr>
                  {% endfor %}
                  <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@fat</td>
                    <td>@fat</td>
                    <td>@fat</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@fat</td>
                    <td>@fat</td>
                    <td>@fat</td>
                    <td>@fat</td>
                    <td>@twitter</td>
                  </tr> -->
                </tbody>
              </table>
        </div>
      <!-- </div> -->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>